<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 편집</title>
</head>
<body>
    <table>
        <form name="form" method="POST" action="/edit/{{data._id}}">
        <tr>
            <td>작성자</td>
            <td><input type="text" name="name" value="{{session['name']}}" readonly></td> <!-- 작성자 이름은 로그인한 이름으로 강제-->
        </tr>

        <tr>
            <td>제목</td>
            <td><input type="text" name="title" value="{{data.title}}"></td>
        </tr>

        <tr>
            <td>내용</td>
            <td><textarea name="contents">{{data.contents}}</textarea></td>

        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
        </form>

        
    </table>
    
</body>
</html>